/*----------------------------------------*/
/*  01. Theme default CSS
/*----------------------------------------*/

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}


/*-- Google Font --*/

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');

/*-- Common Style --*/
*, *::after, *::before {
  box-sizing: border-box;
}
html, body, .site-wrapper {
    height: 100%;
}
body{
    background-color: $white;
    font-size: 16px;
    line-height: 1.75;
    font-style: normal;
    font-weight: 400;
    visibility: visible;
    font-family: $body-font;
    color: $body-color;
    position: relative;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font;
    color: $heading-color;
    font-weight: 600;
    margin-top: 0;
    line-height: 1.5;
}
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin: 0;
    line-height: 1.5;
}
h1, .h1 {
    font-size: 36px;
    // Responisve
    @media #{$large-mobile} {
        font-size: 30px;
    }
}
h2, .h2 {
    font-size: 30px;
    // Responisve
    @media #{$large-mobile} {
        font-size: 24px;
    }
}
h3, .h3 {
    font-size: 24px;
    // Responisve
    @media #{$large-mobile} {
        font-size: 20px;
    }
}
h4, .h4 {
    font-size: 18px;
}
h5, .h5 {
    font-size: 16px;
}
h6, .h6 {
    font-size: 14px;
}
p:last-child {
    margin-bottom: 0;
}
a, button {
    color: inherit;
    display: inline-block;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
}
a, button, img, input {
    transition: $transition-default;
}
*:focus {
    outline: none !important;
}
a:focus {
    color: inherit;
    outline: none;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: $primary;
}
button, input[type="submit"] {
    cursor: pointer;
}

img {
    max-width: 100%;
}

input, textarea {
    @include placeholder {
        opacity: 1;
    }
}

ul {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}

figure{
    margin-bottom: 0;
}

/*-- Common Classes --*/
.fix {
    overflow:hidden
}
.hidden {
    display: none;
}
.clear{
    clear: both;
}
.section, 
.main-wrapper {
    float: left;
    width: 100%;
}

@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}
@media #{$small-mobile}{
    .container {
        max-width: 450px;
    }
}
@media #{$extra-small-mobile}{
    .container {
        max-width: 300px;
    }
}

/*Background Color*/
.bg-white {
    background-color: #ffffff !important;
}
.bg-gray {
    background-color: #f8f8f8 !important;
}
.bg-dark {
    background-color: $heading-color !important
}
.bg-primary {
    background-color: $primary !important
}
.bg-primary-light {
    background-color: lighten($primary, 36) !important
}
.bg-secondary {
    background-color: $secondary !important
}
.bg-success {
    background-color: $success !important
}
.bg-danger {
    background-color: $danger !important
}
.bg-warning {
    background-color: $warning !important
}
.bg-info {
    background-color: $info !important
}

/*Text Color*/
.text-white {
 color: $white !important
}
.text-body {
 color: $body-color !important
}
.text-body-light {
 color: $body-light !important
}
.text-heading {
 color: $heading-color !important
}
.text-primary {
 color: $primary !important
}
.text-secondary {
 color: $secondary !important
}
.text-success {
 color: $success !important
}
.text-danger {
 color: $danger !important
}
.text-warning {
 color: $warning !important
}
.text-info {
 color: $info !important
}


/*White Space*/
.white-space-nowrap {
    white-space: nowrap;
}

/*--Tab Content & Pane Fix--*/
.tab-content {
    width: 100%;
    & .tab-pane {
        display: block;
        height: 0;
        max-width: 100%;
        visibility: hidden;
        overflow: hidden;
        opacity: 0;
        &.active {
            height: auto;
            visibility: visible;
            opacity: 1;
            overflow: visible;
        }
    }
}

/*--Background Image--*/
[data-bg-image] {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*--Section Spacing--*/

.section-padding {
    padding-top: 100px;
    // Responsive
    @media #{$large-mobile} {
        padding-top: 60px;
    }
}

.section-padding-2 {
    padding-top: 90px;
    // Responsive    
    @media #{$large-mobile} {
        padding-top: 55px;
    }
}

.section-padding-3 {
    padding-top: 70px;
    // Responsive    
    @media #{$large-mobile} {
        padding-top: 55px;
    }
}

.section-padding-4 {
    padding-top: 50px;
    // Responsive    
    @media #{$large-mobile} {
        padding-top: 10px;
    }
}

.section-padding-5 {
    padding-top: 90px;
    padding-bottom: 100px;
    // Responsive    
    @media #{$large-mobile} {
        padding-top: 50px;
        padding-bottom: 60px;
    }
}

.section-padding-6 {
    padding-top: 50px;
    padding-bottom: 100px;
    // Responsive    
    @media #{$large-mobile} {
        padding-top: 10px;
        padding-bottom: 60px;
    }
}

.section-padding-7 {
    padding-top: 70px;
    padding-bottom: 100px;
    // Responsive    
    @media #{$large-mobile} {
        padding-top: 30px;
        padding-bottom: 60px;
    }
}

.section-padding-7 {
    padding-top: 70px;
    padding-bottom: 100px;
    // Responsive    
    @media #{$large-mobile} {
        padding-top: 30px;
        padding-bottom: 60px;
    }
}



/*--Section Title--*/
.section-title {
    & .title{
        font-size: 40px;
        line-height: 48px;
        font-weight: 400;
        display: inline-block;
        margin-bottom: 0;
        text-transform: capitalize;
        position: relative;
        padding-bottom: 22px;   
        color: $heading-color;   
        
        @media #{$large-mobile}{
            font-size: 24px;
            line-height: 28px;
        }
    }
    & p{
        font-size: 16px;
        line-height: 23px;   
        color: $heading-color;  
        font-weight: 300;   

        @media #{$large-mobile}{
            font-size: 14px;
        }
    }    
}


/*Page Pagination*/
.page-pagination {
    margin-top: 50px;
    border: 1px solid #e5e5e5;
    padding: 10px 15px ;

    & .pagination {
        & .page-item {
            margin: 0 3px;

            & .page-link {
                border-radius: 3px;
                padding: 0;
                width: 30px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                border: 0;
                background-color: #f1f1f1;
                font-size: 14px;
                color: $body-color;
                @include transition(all 0.3s linear);

                &.prev,
                &.next{
                    width: auto;
                    padding: 0 12px;
                }

                &.active,
                &:hover{
                    background-color: $primary;
                    color: $white;
                }
            }
        }
    }    
}



/*Custom Animation*/
@-webkit-keyframes cusFadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes cusFadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.cusFadeInUp {
  -webkit-animation-name: cusFadeInUp;
  animation-name: cusFadeInUp;
}

/*Scroll To Top*/
.scrolltotop {
	width: 40px;
	height: 40px;
	background-color: $primary;
	color: $white;
	border: none;
	position: fixed;
	right: 30px;
	bottom: -90px;
	z-index: 9999;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	visibility: hidden;
	&.show {
		bottom: 30px;
		opacity: 1;
		visibility: visible;
	}
	&:hover {
		background-color: $heading-color;
	}
	&:focus {
		color: $white;
	}
	& i {
		font-size: 18px;
	}
}