/*--
/*  4.17 - Empty Cart CSS
/*----------------------------------------*/


.empty-cart-page{}

.empty-cart-content{
    & .empty-cart-title{        
        color: $heading-color;
        font-family: $body-font;
        font-size: 35px;        

        @media #{$large-mobile}{
            font-size: 24px;
        }
    }
    & .empty-cart-img{
        width: 110px;
        margin: 0 auto;
        padding-top: 25px;
    }
    & p{
        font-size: 16px;
        color: $body-color;
        text-transform: capitalize;
        margin-top: 30px;
        color: $heading-color;
    }
    & .btn{
        border-radius: 3px;
        margin-top: 20px;
        font-weight: 400;
        font-size: 13px;

        &:hover {
            background-color: darken($dark, 5);
            border-color: darken($dark, 5);
        }
    }
}


























