/*--
/*  4.18 - My Account CSS
/*----------------------------------------*/



.my-account-menu{
    & .account-menu-list{
        background-color: #f7f7f7;
        & li{
            & a{
                width: 100%;
                padding: 10px 30px;
                font-size: 14px;
                color: $body-color;
                margin-top: -1px;
                @include transition(0.3s);
                
                & i{
                    margin-right: 5px;
                }
                
                &:hover,
                &.active{
                    background-color: $primary;
                    color: $white;
                }
            }
        }
    }
}




.my-account-tab{
    & .account-title{
        font-size: 24px;
        font-weight: 500;
        color: $black;
        font-family: $body-font;
    }
}

.account-wrapper{

}

.account-table{
    & .table{
        & thead{
            & tr{
                & th{
                    border: 1px solid #ECECEC;
                    border-bottom-color: #ECECEC !important;
                    font-size: 14px;
                    font-weight: 400;
                    color: $black;
                    padding: 8px 15px;

                    &.no{}
                    &.name{
                        min-width: 140px;
                    }
                    &.date{
                        min-width: 130px;
                    }
                    &.status{}
                    &.total{}
                    &.action{}
                }
            }
        }
        & tbody{
            & tr{
                & td{
                    font-size: 14px;
                    color: $black;
                    font-weight: 400;
                    vertical-align: middle;
                    border: 1px solid #ECECEC;
                    padding: 0;

                    & a{
                        padding: 0 15px;
                        height: 45px;
                        line-height: 45px;    
                        color: $black;
                    }
                }
            }
        }
    }
}

.my-account-dashboard{    
    & .welcome-dashboard{
        margin-top: 10px;
        
        & p{
            font-size: 14px;
            color: $body-color;
            
            & strong{
                font-weight: 500;
            }
            & a{
                color: $black;
                @include transition(0.3s);
                
                &:hover{
                    color: $primary;
                }
            }
        }
    }
    & p{
        color: $body-color;
    }
}

.my-account-payment{
    & p{
        color: $body-color;
        font-weight: 500;
        font-size: 14px;
    }
}


.my-account-address{
    & .account-address {
        & .name{
            font-size: 16px;
            color: $black;
            font-weight: 500;
            font-family: $body-font;
        }
        & p{
            margin-top: 20px;
            font-size: 14px;
            color: $body-color;
        }
        
        & .btn{
            height: 45px;
            line-height: 45px;
            padding: 0 20px;
            font-size: 14px;
            margin-top: 20px;
            border-radius: 3px;
            font-weight: 400;
        }
    }
}

.my-account-details{
    & .account-details{
        & .title{
            font-size: 20px;
            font-weight: 500;
            color: $black;
            font-family: $body-font;
        }

        & .single-form{
            & .btn{
                border-radius: 3px;
                height: 40px;
                line-height: 40px;
                font-weight: 400;
            }
        }
    }
}





























