/*--
/*  3.1 - Header Top CSS
/*----------------------------------------*/
.top-notification-bar{
        @include background(linear-gradient(to right, #323232 0%, #323232 100%));
        position: relative;
        padding: 10px 0;

    & .notification-entry{
        & p{
            color: $white;

            & a{}
        }
    }
    & .notification-close{
        position: absolute;
        top: 50%;
        right: 20px;
        @include transform(translateY(-50%));

        & .notification-close-btn{
            padding: 0;
            border: 0;
            background: none;
            color: $white;
            cursor: pointer;
            line-height: 24px;
            font-size: 14px;
        }
    }
}


